.quizContainer{
    padding: 7%;
}

.quiz{
    padding: 16px;
    margin: 16px;
    background: #777575;
    border-radius: 16px;
}

.quiz.right{
    background: #709060;
    color: #002000;
}

.quiz.wrong{
    background: #a06060;
    color: #200000;
}