{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}"/>
 
<div class="maincontent">

{% if topics %}
    {% include "articles/sidebar.html" %}
{% else %}
<div>
{% endif %}


<!-- the website Header -->
<div class="top">
    <h1>Welcome to Our Website!</h1>
    <h2>Site by team Tokyodachi</h2>
</div>

{% if article_id %}
<!-- THE ARTICLE PROPPER -->
<div class="article">


    <h1> Hi! Read what we wrote about {{ article_id }}! </h1>
    <!-- some things to hyper-link to-->
    {% for subtopic in article_id.subtopics %}
        <div id="{{ subtopic }}">
            <h3>{{ subtopic|safe }}</h3>

            <p>
            {{ subtopic.text|safe }}
            </p>
        </div>
    {% endfor %}
{% else %}
    <p> Sorry, that's sound like an interesting topic,
        but we didn't have time to research it.
    </p>
</div>
{% endif %}

</div>

</div>