{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}"/>
 
<div class="maincontent">

{% if topics %}
<!-- SIDEBAR of TOPICS -->
<div class="sidebar">
    <ul>
    {% for topic in topics %}
        <li class="topic"><a href="{% url 'articles:article' topic %}">{{ topic }}</a>
            <ul class="subtopics" id="subtopic_{{ topic }}">
                <!-- list each topic's subtopics -->
                {% for subtopic in topic.subtopics %}
                    <li class="subtopic">
                        <a href="{% url 'articles:article' topic %}#{{ subtopic }}">
                            {{ subtopic }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>

<!-- Use class rideside if have a sidebar
    else us a generic div to contain the rest of the content -->
<div class="rightside">
{% else %}
<div>
{% endif %}


<!-- the website Header -->
<div class="top">
    <h1>Welcome to Our Website!</h1>
    <h2>Site by team Tokyodachi</h2>
</div>

{% if article_id %}
<!-- THE ARTICLE PROPPER -->
<div class="article">


    <h1> Hi! Read what we wrote about {{ article_id }}! </h1>
    <p>
        {{ article_id.text }}
        <!-- some things to hyper-link to-->
        {% for subtopic in article_id.subtopics %}
            <div id="{{ subtopic }}"/>
        {% endfor %}
    </p>
    {% else %}
    <p> Sorry, that's sound like an interesting topic,
        but we didn't have time to research it.
    </p>
</div>
{% endif %}

</div>

</div>