{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}"/>
 
{% if topics %}
    {% include "articles/sidebar.html" %}
{% else %}
<div>
{% endif %}

<div class="pagecontent">

<!-- the website Header -->
<div class="top">
    <h1>Bilingual Education in America</h1>
    <h3>Site by team Tokyodachi</h3>
</div>

{% if article_id %}
<!-- THE ARTICLE PROPPER -->
<div class="article">


    <h1> {{ article_id }} </h1>
    <!-- some things to hyper-link to-->
    {% for subtopic in article_id.subtopics %}
        <div id="{{ subtopic }}">
            <h3>{{ subtopic|safe }}</h3>

            <p>
            {{ subtopic.text|safe }}
            </p>
        </div>
    {% endfor %}
{% else %}
    <p> Sorry, that's sound like an interesting topic,
        but we didn't have time to research it.
    </p>
</div>
{% endif %}

</div>

</div>